# Dependencias
node_modules/
frontend/node_modules/
backend/node_modules/

# Entorno y credenciales
.env
backend/.env

# Compilados de producción
dist/
frontend/dist/

# Archivos del sistema
.DS_Store
Thumbs.db